<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/jQuery.js') }}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      //Global click_id && clink_type
      var click_id = "";
      var click_type = "";
      var curr_page_id = 5;
      var base_path = $(location).attr('href');
      var dir_list; 
      console.log(base_path);
      // Delete row on delete button click
      $(document).on("click", ".delete", function(){
        console.log("in delete");
        var id = $(this).parents("tr").children(".id").html();
        var type = $(this).parents("tr").children(".type").html() ;
        if(type == "File") {
          var jqxhr = $.get( "/delete_file/"+id+"/", function() {
            alert( "success" );
          });
        }
        else {
          var jqxhr = $.get( "/delete_folder/"+id+"/", function() {
            alert( "success" );
          });
        }
        $(this).parents("tr").remove();
      });
      
      
      // For move button click action
      $(document).on("click", ".modal_button", function(){
        console.log("in modal sub button");
        var dest_id = $(this).parents("tr").children(".id").html();
        var dest_path = $(this).parents("tr").find(".modal_button").html();
        console.log("dest id: " + dest_id);
        console.log("dest path: " + dest_path);
        if(click_type == "File") {
          url = "/move_file/";
        }
        else {
          url = "/move_folder/";
        }
        console.log("Url: " + url);
        console.log("Before post");
        $.post( url, { src_id: click_id, dest_id: dest_id } );
        console.log("After post");
        location.reload();
      });
      
      //For navigating into directory
      $(document).on("click", ".name", function(){
        console.log("in click");
        var id = $(this).parents("tr").children(".id").html();
        console.log(id);
        // url = "/view/"+id+"/";
        // $(location).attr('href',url);
        curr_page_id = id;
        getAndUpdatePageData(id);
        getAndUpdateNavBar();
      });
      
      $(document).on("click", ".nav-button", function(){
        console.log("in nav button");
        console.log($(this).parent());
        var id = $(this).parent(".breadcrumb-item").children(".nav-id").html();
        console.log("In nav button click" + id);
        // url = "/view/"+id+"/";
        // $(location).attr('href',url);
        curr_page_id = id;
        getAndUpdatePageData(id);
        getAndUpdateNavBar();
      });
      
      //Update current path 
      function updateCurrPath(){
        x = $(location).attr('href');
        console.log(x);
      };
      
      function getAndUpdateNavBar(){
        var id = curr_page_id;
        console.log("In getNav id: " + id);
        $.ajax({
          url: "/get_nav_context/"+id+"/",
          type: "GET",
          // dataType: "html",
          success: function (data, status, jqXHR) {
            console.log("after get nav data" + data);
            updateNavData(JSON.parse(data));
            // alert("Local success callback.");
          },
          error: function (jqXHR, status, err) {
            console.log(status)
            console.log(err)
            alert("In update nav bar Local error callback.");
          },
          complete: function (jqXHR, status) {
            // alert("Local completion callback.");
          }
        });
      }
      
      function updateNavData(data) {
        var list = $('#nav-bar');
        console.log(list);
        list.empty();
        console.log(data);
        //get query
        list.append("<li class=\"breadcrumb-item\"><label class=\"nav-id\" \"hidden\">d</label><a href=\"http://127.0.0.1:5000/view/\">Home</a></li>");
        $.each(data,function(i,row){
          if(i > 0) {
            list.append("<li class=\"breadcrumb-item\"><label class=\"nav-id\" \"hidden\">"+row["id"] + "</label><a href=\"#\"\
              class=\"nav-button\">"+row["name"]+"</a></li>");
            }
          });      
        }
        
        function getAndUpdatePageData(id){
          console.log("In getPage id: " + id);
          $.ajax({
            url: "/view/"+id+"/",
            type: "GET",
            // dataType: "html",
            success: function (data, status, jqXHR) {
              console.log("after get page data" + data);
              updatePageData(JSON.parse(data));
              // console.log(temp);
              // alert("Local success callback.");
            },
            error: function (jqXHR, status, err) {
              alert("In update page Local error callback.");
            },
            complete: function (jqXHR, status) {
              // alert("Local completion callback.");
            }
          });   
        }
        
        function updatePageData(data) {
          var list = $('#tdata');
          // console.log(list);
          list.empty();
          // console.log(data["files"]);
          //get query
          $.each(data["files"],function(i,row){
            list.append("<tr>"
              +"<td scope=\"row\" class=\"id\">"+row["id"]+"</a></td>"
              +"<td class=\"type\">File</td>"
              +"<td><a href=\"#\" class=\"name\">"+ row["name"] + "</a></td>"
              +"<td>\
                <li class=\"dropdown\">\
                  <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\"\
                  aria-haspopup=\"true\" aria-expanded=\"false\">...<span class=\"caret\"></span></a>\
                  <ul class=\"dropdown-menu\">\
                    <li><a href=\"#\" class=\"delete\">delete</a></li>\
                    <li><a href=\"#\" class=\"download\">download</a></li>\
                    <li><a href=\"#\" class=\"move\" data-toggle=\"modal\" data-target=\"#exampleModal\" data-whatever=\"@mdo\">move</a></li>\
                  </ul>\
                </li>\
              </td>" 
              +"</tr>");  
            });
            $.each(data["folders"],function(i,row){
              list.append("<tr>"
                +"<td scope=\"row\" class=\"id\">"+row["id"]+"</a></td>"
                +"<td class=\"type\">Folder</td>"
                +"<td><a href=\"#\" class=\"name\">"+ row["name"] + "</a></td>"
                +"<td>\
                  <li class=\"dropdown\">\
                    <a href=\"#\" class=\"dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\"\
                    aria-haspopup=\"true\" aria-expanded=\"false\">...<span class=\"caret\"></span></a>\
                    <ul class=\"dropdown-menu\">\
                      <li><a href=\"#\" class=\"delete\">delete</a></li>\
                      <li><a href=\"#\" class=\"download\">download</a></li>\
                      <li><a href=\"#\" class=\"move\" data-toggle=\"modal\" data-target=\"#exampleModal\" data-whatever=\"@mdo\">move</a></li>\
                    </ul>\
                  </li>\
                </td>" 
                +"</tr>");       
              });
            }
            
            //For dropdown toggle
            $(document).on("click", ".dropdown-toggle", function(){
              // console.log("in dropdown click");
              click_id = $(this).parents("tr").children(".id").html();
              click_type = $(this).parents("tr").children(".type").html();
              console.log("click id "+click_id);
              console.log("click type "+click_type);
              // console.log(this);
            });
            
            
            //Getting current folder list
            function getFolderList() {
              var TableData = new Map(); //initialize map;
              
              //Here traverse and  read input/select values present in each td of each tr, ;
              $("table#data > tbody > tr").each(function(row, tr) {
                id = $(this).find("td.id").text();
                type = $(this).find("td.type").text();
                name = $(this).find(".name").text();
                if(type == "Folder") {
                  TableData[id]=name;
                }
              });
              return TableData;
            }
            
            //get folder list of the given folder id
            function getFolderEntries(id) {
              var TableData = new Map();
              $.get("/get_folder_list/"+id+"/", function(data){
                return data;
              });
            }
            
            $('#exampleModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget) // Button that triggered the modal
              var recipient = button.data('whatever') // Extract info from data-* attributes
              // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
              // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
              var modal = $(this)
              folders = getFolderList();
              curr_folder_id = sessionStorage.getItem('curr_folder_id');
              curr_folder_name = sessionStorage.getItem('curr_folder_name');
              folders = getFolderList(curr_folder_id);
              console.log(folders);
              
              
              
              list = modal.find('.list-group');
              list.empty();
              Object.keys(folders).forEach(function(key) {
                value = folders[key];
                console.log("In modal folder id "+key + "click id " + click_id);
                if((click_type == "Folder" && key != click_id) || click_type != "Folder") {
                  list.append("<tr><td class=\"id\">"+key+"</td><td><button type=\"button\" class=\"list-group-item list-group-item-action modal_button\">"  + value + "</button></td>");
                  }
                });
              });
              
              
            });
          </script>
          
        </head>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div class="modal-body">
                <div class="modal-data">
                  <!-- <ul class="modal-list" id="move-list">
                  </ul> -->
                  <div class="list-group">
                  </div>
                </div>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
              </div>
            </div>
          </div>
        </div>
        
        
        <body>
          <nav class="page-header-text u-l-fl" id="path-breadcrumbs" aria-label="Folder hierarchy" role="navigation">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb" id="nav-bar">
                <li class="breadcrumb-item"><label class="hidden">d</label><a href="http://127.0.0.1:5000/view/">Home</a></li>
              </ol>
            </nav>          
          </nav>
          <table class="table table-hover" id="data">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody id="tdata">
              {% for row in data["files"] %}
              <tr>
                <td scope="row" class="id">{{row["id"]}}</td>
                <td class="type">File</td>
                <td><a href="#" class="name">{{row["name"]}}</a></td>
                <td>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">... <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#" class="delete">delete</a></li>
                      <li><a href="#" class="download">download</a></li>
                      <li><a href="#" class="move" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">move</a></li>
                    </ul>
                  </li>
                </td>
              </tr>
              {% endfor %}
              {% for row in data["folders"] %}
              <tr>
                <td scope="row" class="id">{{row["id"]}}</td>
                <td class="type">Folder</td>
                <td><a href="#" class="name">{{row["name"]}}</a></td>
                <td>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">... <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#" class="delete">delete</a></li>
                      <li><a href="#" class="download">download</a></li>
                      <li><a href="#" class="move" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">move</a></li>
                    </ul>
                  </li>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          